[2019-03-28 09:21] shahab-vahedi opened #1 "Add SMP support"
@claziss fill me in.

[2019-06-03 08:01] abrodkin opened #5 "Support IDU (ARConnect's Interrupt distribution unit)"
IDU is a simple multiplexer which routes N input IRQ lines to M attached CPU cores.
See chapter "26.10 Interrupt Distribution Unit" of ARC HS databook.

Note:
 * It might be used on UP (Uni-Processor) systems as well, in that corner case we're just forwarding M inputs to M outputs. So implementation and testing might be done on simple UP QEMU at any point.
 * It might not be obvious, but IRQ lines

[2019-06-03 08:07] abrodkin opened #2 "Support ARConnect (MCIP) interface"
ARConnect is a collection of system components that provides efficient inter-core communications,
interrupt distribution, debug assistance, and other inter-core functionality in a multi-core system.

See chapter "26 ARConnect Support" of ARC HS databook & chapter "36 ARConnect" of ARC HS PRM.

This issue is dedicated for implementation of a common command interface used by ARConnect.

[2019-06-03 08:13] abrodkin opened #6 "Support ARConnect's Global Free-Running Counter (GFRC)"
The Global Free-Running Counter Unit (GFRC) implements a 64-bit free-running global real-time counter that can be used as a central timing reference when multiple cores are under different clock domains.

See chapter "26.7 Global Free-Running Counter" of ARC HS databook.

Similarly to IDU this block might be used in UP (Uni-Processor) system so might be implemented and tested in existing setups.

[2019-06-03 08:17] abrodkin opened #3 "Support ARConnect's Inter-Core Interrupt Unit (ICI )"
The Inter-Core Interrupt unit (ICI) handles the inter-core interrupts and acknowledgments between any two cores to handle asynchronous communication events.

See chapter "26.3 Inter-Core Interrupt Unit" of ARC HS databook.

Note this feature is only applicable to real SMP (Symmetric Multi-Processor) system, so it requires initial bring-up of SMP for ARC in QEMU (if there's anything to be done at a

[2019-06-03 08:20] abrodkin opened #4 "Support Inter-Core Debug Unit (ICD)"
The Inter-core Debug Unit (ICD) provides additional debug assist features in multi-core scenarios.
For example hall all cores if either of them got halted etc.

See chapter "26.6 Inter-Core Debug Unit" in ARC HS databook.

This feature might be to some extent implemented and tested on UP (Uni-Processor) setup.

[2020-12-29 05:23] vineetgarc opened #7 "ARCv2: Linux kernel fails to boot if tlb flush switched to using TLBWriteNI cmds"
Linux kernel TLB flush interface tries to optimize the TLB flush by incrementing the ASID when there is a need to flush large number of entries (since goign thru TLB one entry at a time could be costly). This happens when a  task exits or forks etc. Only in case of ASID rollover does it need to unconditionally flush the entire TLB.

However for an experiment (related to ARCv4 MMU48 bringup) I swit

[2020-12-29 05:32] vineetgarc commented on #7
[vmlinux-201227-tlb-flush-all.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/5749686/vmlinux-201227-tlb-flush-all.gz)

[2020-12-29 07:44] vineetgarc commented on #7
Seems we are not flushing the TLB on TLBWriteNI.
This is primarily done on ASID rollover so it needs to unconditionally do this for all ASIDs.
I've pushed the fix to qemu-private [[MMU]: flush the TLB on TLBWrite* cmd ](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu-private/commit/2e60c113df854cd615d1d0d7b020c6412aef2c82) and qemu repo [[MMU]: flush the TLB on TLBWrite* cmd ](https:/

[2020-12-29 07:44] #7 closed

[2021-01-14 16:17] shahab-vahedi commented on #7
Thanks for getting to the bottom of this. I like the second one (public repo) better.

[2021-01-14 20:42] vineetgarc opened #8 "gdb/qemu: implement -no_exit_on_halt"
When debugging Linux kernel with QEMU I sometimes need to stop on a certain condition. Conditional breakpoints for frequently called function are way too slow (I've seen more than 10x slow down if handle_interrupt has a condition). So the alternate is to add that condition in code itself and call a FLAG 1 to stop. With QEMU this causes simulation to terminate (even when debugged).
In mdb + nsim (o

[2021-01-15 07:57] claziss commented on #8
Indeed, FLAG 1 powers down the simulation. I've added this to be able to exit bare metal apps.

[2021-02-25 19:18] vineetgarc opened #12 "[QEMU] hardware irq auto save broken"
ARC64 Linux kernel built with CONFIG_ARC_IRQ_NO_AUTOSAVE disabled crashes (note the kerne toggle is inverted so disabling it enables hardware irq regfile autosave/restore). Same kernel binary boots fine in nSIM.

[code]

[2021-02-25 19:18] #12 closed

[2021-03-02 02:11] IRISZZW opened #14 "No privilege exception raise when execute clri in user mode"
Test codes:

[code]

[2021-03-02 02:13] IRISZZW commented on #14
@shahab-vahedi Could you please take a look at this issue?

[2021-03-03 21:46] shahab-vahedi commented on #14
I am working on a solution for this and the `seti`.

[2021-03-10 15:43] cupertinomiranda opened #16 "New master branch produces 2 extra failures against arc-master-2021.02.24 tag"
This is a placeholder to later analyse the reason for the 2 extra failures in master.

Failures are:
+FAIL: iconv/tst-iconv_prog
+FAIL: localedata/cmn_TW.UTF-8/LC_CTYPE

[2021-03-18 09:59] VVIsaev opened #17 "Error while connecting to gdb server"
Consider simple hello program:
[code]

Check if program works and try to use gdb with it:
[code]

Then if I try to connect to qemu gdb server from gdb:
[code]

It works for nsim:
[code]

I used qemu from the tip of master branch and toolchain 2020.09.

[2021-03-18 10:14] cupertinomiranda commented on #17
Hi Vladimir, May I ask you to try this with tagged version ? The former master branch, tag arc-master-2021.02.24.

Thanks !!!

[2021-03-18 10:26] VVIsaev commented on #17
Hi Cupertino!

Same here, I've tried my build and build which was used for verification from `/slowfs/ru20arcgnu1/arcoss_verification/arc-gnu-toolchain/gnu_builds/QEMU/arc/qemu-system-arc_build-53_59cfed503eb5a266e73a66446f26f60951e96e09`. It is also based in 59cfed commit as I can understand.

Thank you!

[2021-03-18 10:52] VVIsaev commented on #17
Works fine with qemu from master and gdb from eng. build 2021.03-002:
[code]

[2021-03-18 11:40] #17 closed

[2021-03-18 13:31] shahab-vahedi commented on #17
Old GDB releases (<= 2020.09) cannot be used with our QEMU anymore. There is a deliberate non-backward compatibile behaviour that I had to get it in before QEMU was upstreamed.

[2021-03-18 13:57] abrodkin commented on #17
@shahab-vahedi could you please file an issue for that in https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues with "release notes" label for 2021.03 milestone so that we surely mention that in the release notes for upcoming release?

[2021-03-18 14:31] shahab-vahedi commented on #17
See [[N.B.] QEMU's gdbserver compatibility](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/353).

[2021-03-23 11:27] abrodkin opened #18 "Allow specification of virt board memory size via command line"
As of now we allocate 2Gib of memory by default, see https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/blob/master/hw/arc/virt.c#L138:
[code]
This allows simulated target to use the whole memory from 0x8000_0000 to the very end of 32-bit address space, which is convenient in some cases. But it also poses some limitations.

For example, even if one wants to run a simple "hello world" bar

[2021-03-26 05:35] wentongwu opened #19 "when exit irq, qemu pop wrong addr to PC"
I'm using arc QEMU to run Zephyr, and sometimes QEMU will not execute Zephyr code, so I enable the irq log of QEMU, finding QEMU pops wrong addr(x0000a000) to PC, so the TCG can't run any more.

[code]

I don't know why there is exit irq 0, and I attach the whole log here, hope we can have some discussion about this. Thanks

[log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/fi

[2021-03-26 05:36] wentongwu commented on #19
@abrodkin

[2021-03-26 07:08] claziss commented on #19
Hi,

It looks your stack is corrupted (starting from the bottom of your log file):

Here you pop the corrupted return address:
[code]

And here you push the value:
[code]

What is interesting is that between the push and last faulty pop you do have another pop:
[code]
but next, no push any longer.  As far as I can see, you enter in an interrupt without pushing the registers on the stack.

[2021-03-26 07:16] wentongwu commented on #19
yeah, but I have increased the isr stack size from 2k to 2M, but the issue still happen.

[2021-03-26 07:18] wentongwu commented on #19
I filter the PC Push/Pop, I find same pattern(push one, pop 2)
[code]

[2021-03-26 07:24] claziss commented on #19
The stack size is not an issue here :) As far as I can see, you need to see which sequence of instructions leads to the faulty call of `RTIE`

You can try using a debugger, or you can give a shoot and log qemu execution using `-d in_asm` option. The last option is not the best, though.

[2021-03-26 08:29] wentongwu commented on #19
I take a look the .lst file, there is only few os function using RTIE instruction. Will consider how to use GDB to debug this.

BTW, every redundant Pop is caused by below log, not sure the reason now.

[code]

[2021-03-30 06:03] wentongwu commented on #19
when I use pure Zephyr code(simple test case), I still can see redundant Pop as above, maybe it's expected behavior(RTIE)

[2021-03-30 06:31] wentongwu commented on #19
look at this log, it seems the rtie instruction is expected, not quite familiar with ARC arch, it may happen with context switching because the stack address is different.

[code]

[2021-03-30 08:07] wentongwu commented on #19
seems stack overflow issue, I increase all thread stack size and isr stack in whole system, so far issue not reproduced.
not sure if MPU is enabled in QEMU arc?

[2021-03-30 08:38] shahab-vahedi commented on #19
QEMU supports [MPU v3](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/wiki/MPU). If [the number of region is other than 0](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/wiki/MPU#mpu-v3-in-qemu) then MPU will be in motion.

[2021-03-30 08:54] wentongwu commented on #19
Thanks, will try it.

[2021-03-30 11:03] claziss commented on #19
It looks rather a problem of Zephyr than of a QEMU. @abrodkin please ca you advise here.

[2021-03-30 12:20] abrodkin commented on #19
@wentongwu I think MPU is not yet enabled in Zephyr, as the corresponding PR is not yet merged, see https://github.com/zephyrproject-rtos/zephyr/pull/32768. Still may we have instructions on how to reproduce this failure locally?

@IRISZZW could you please try to reproduce this one and see what's wrong there?

[2021-03-31 01:49] IRISZZW commented on #19
@wentongwu Could you please give me some guidance how to reproduce this issue?

[2021-04-12 19:55] shahab-vahedi opened #21 "[arc64] Exception registers transferred to GDB are askew"
Once again, the reported `ecr`, `eret`, etc. values in GDB are incorrect. See attached file for reproducibility.
[code]

[code]

[arc64-eret.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6299458/arc64-eret.zip)

[2021-04-13 09:35] abrodkin commented on #14
@shahab-vahedi any progress on this one? Would be good to have it fixed sometime soon so that there're no extra failures in Zephyr's CI upstream which otherwise we'd need to black-list.

[2021-04-15 01:33] vineetgarc opened #22 "ARCv2: strace unexpectedly segv"
strace is experiencing unexpected segv (not seen for same binary on nSIM / hardware).
Issue seen on refactored arc64 branch as well as old code base

`~/arc/QEMU/upstream/build/arc-softmmu/qemu-system-arc -cpu archs -M virt -nographic -no-reboot -monitor none -global cpu.freq_hz=5000000 -serial stdio -device virtio-net-device,netdev=net0 -netdev user,id=net0,hostfwd=tcp::5555-:21,hostfwd=tcp::5556

[2021-04-15 01:51] vineetgarc commented on #22
[vmlinux-210414-ARCv2-haps-BR-glibc-667d9c8d55-softfp.gz.log](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6314694/vmlinux-210414-ARCv2-haps-BR-glibc-667d9c8d55-softfp.gz.log)
[target-210414-BR-2020.11-softfp.tar.gz.log](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6314681/target-210414-BR-2020.11-softfp.tar.gz.log)

[2021-04-15 02:08] shahab-vahedi commented on #14
No. I am not working on it anymore.

[2021-04-16 07:43] abrodkin opened #23 "QEMU for ARCv2 fails to build with GCC 4.8 due to undefined TARGET_ARCV3"
If attempted to be built from today's (tip is https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/98221043f56d76a8135f0dc789494098fa79f807) https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/tree/arc64 branch:
[code]

The problem is in `#elif TARGET_ARCV3`, here's the minimal test-case:
[code]

With newer GCC (v5+) this snippet compiles w/o errors.

The simplest solution

[2021-04-16 13:56] vineetgarc commented on #23
instead of littering code with this pragma, isn't is better / easier to fix the issue simply by a trivial change as following
- #elif TARGET_V3
+ #elif defined(TARGET_V3)

Im sure im missing something.

[2021-04-16 14:04] abrodkin commented on #23
That's what is done here https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/pull/24 indeed :)

[2021-04-19 20:50] cupertinomiranda commented on #23
Fixed in 70208fc44c4a608cb2b3559a467b93f1a5311038.

@abrodkin Please validate that it works for you now, as I cannot reproduce with my local GCC version.

[2021-04-20 06:36] abrodkin commented on #23
@cupertinomiranda it works now, thanks!

And BTW it's rather easy to reproduce it with Docker:
[code]

[2021-04-20 06:36] #23 closed

[2021-04-21 18:06] cupertinomiranda commented on #14
Fixed this issue in qemu/cupert_upstream_wip.

Required commits are:
commit 3b09e9b346d10940724cc41fd797e39cd4d91190, 3f06cb453ed0d69db58b0effd1e28d5f79daae8e, 1d90012d3f3a440ddc41cabacb9fb34ac3cf8339

[2021-04-23 08:55] shahab-vahedi opened #26 "Booting linux image _sometimes_ fails"
[code]

[code]

[2021-04-23 09:03] shahab-vahedi commented on #26
[vmlinuxaa.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6364082/vmlinuxaa.tar.gz)
[vmlinuxab.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6364084/vmlinuxab.tar.gz)
[vmlinuxac.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6364090/vmlinuxac.tar.gz)
[vmlinuxad.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-

[2021-04-23 14:14] vineetgarc commented on #26
This is for ARCv2 or arc64 ? We are missing critical initial bits of boot

[2021-04-23 15:19] cupertinomiranda commented on #26
@shahab-vahedi Can you test this same images on onler versions of QEMU ? I mean before of arc v2 and v3 merge.
Also please complete the information as Vineet requested. We now must be more specific. :-)

[2021-04-23 19:35] shahab-vahedi commented on #26
ARCv2.

[2021-04-23 19:37] shahab-vahedi commented on #26
The image is added. You can try it if you want. Just please bear mind it happens 10% of the times.

[2021-05-04 07:33] abrodkin commented on #14
@cupertinomiranda Zephyr tests all pass now, though with my off-the-tree `icount` hack for QEMU, see below (just for the record).

So maybe we merge these 3 commits in `arc64` branch?

Here's a hack for `icount`, needed by Zephyr.
[code]

[2021-05-13 18:53] claziss opened #27 "Support for MPY9 instructions"
Add support for MPY9 instructions in ARCv3
- [x] MAC
- [x] MACU
- [x] DMPYH
- [x] DMPYHU
- [x] DMACH
- [x] DMACHU
- [x] VADD2H
- [x] VSUB2H
- [x] VADDSUB2H
- [x] VSUBADD2H
- [x] MPYD
- [x] MPYDU
- [x] MACD
- [x] MACDU
- [x] VMPY2H
- [x] VMPY2HU
- [x] VMAC2H
- [x] VMAC2HU
- [x] QMPYH
- [x] QMPYHU
- [x] DMPYWH
- [x] DMPYWHU
- [x] QMACH
- [x] QMACHU
- [x] DMACWH
- [x] DMACWHU
- [x] VADD4H
- [x] VSUB4

[2021-05-17 19:53] vineetgarc opened #28 "[ARC64] multibench #30 x264-4Mqw1 doesn't execute correctly on QEMU"
I get execution errors, not seen on nSIM.

[code]

#arc64 branch "(596837e055fe arc64: Add missing stl variant in decoder)"
[vmlinux-210514-arc64-gcc-441f667f2f63-m128-kernel-tiny.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6496529/vmlinux-210514-arc64-gcc-441f667f2f63-m128-kernel-tiny.gz)

[2021-05-26 09:57] VVIsaev opened #29 "Unable to boot latest arc64 linux"
Versions used:
[code]

With `-d unimp` I see following messages:
[code]

Please find vmlinux here [vmlinux.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6545728/vmlinux.tar.gz) .

[2021-05-26 10:41] cupertinomiranda commented on #29
Fixed in 29eab89b5a679fa7e7e9e702dfe9d1ca9424d50c.
Please validate and close issue.

[2021-05-26 11:01] VVIsaev commented on #29
Fixed, thank you @cupertinomiranda !

[2021-05-26 11:01] #29 closed

[2021-06-02 13:28] wentongwu commented on #19
@abrodkin @IRISZZW sorry for late response, this is the guest issue instead of ARC QEMU, close this issue.

[2021-06-02 13:28] #19 closed

[2021-06-02 14:14] abrodkin commented on #19
@wentongwu could you please elaborate a bit on what was the root cause?
I'm especially intrigued by the following: "guest issue" ;)
I.e. what's the host in that case etc?

[2021-06-10 15:38] falaleevms opened #32 "QEMU arc64 terminates at the middle of execution of glibc testsuite"
Log from the target:
http://de02-resultsdb:8080/attachment.php?Project=28&attach_id=118242
[code]

Vmlinux:
ru20-hw-linux115:/SCRATCH/verification-node/binary-files//vmlinux/vmlinux_arc64_glibc_verification_104

[2021-06-10 15:55] vineetgarc commented on #32
Please provide the specifics of QEMU repo + commit being used.

[2021-06-16 17:54] vineetgarc opened #34 "ARCv2 QEMU experiencing unexpected failures in glibc testsuite"
When running glibc testsuite (to do apples-apples) with arc64 I see **arcv2 qemu** experiencing some spurious (yet reproducible) test failure which are not seen on nSIM.

`qemu-system-arc -cpu archs -nographic -no-reboot -monitor none -global cpu.freq_hz=5000000 -serial stdio -kernel vmlinux-210527-arc64-BR-arc64-autovec-gcc-ace87b20736e-K-autovec-crashes`

**QEMU** off arc64 branch @ 2021-06-11 4

[2021-06-16 18:02] cupertinomiranda commented on #32
It seems to me that toolchain and/or qemu port is not stable enough to rely on automated verification process. We need some server location where we can consistently get results for ARC64.

Also, I don't think we are executing dejagnu testsuite within Linux (in qemu).
Until we have that running consistently executing glibc is a mirage.

[2021-06-16 18:20] vineetgarc commented on #34
Rootfs [target-210615-arcv2-glibc-fb6b321a6c17.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6665033/target-210615-arcv2-glibc-fb6b321a6c17.tar.gz)

[2021-06-16 18:57] vineetgarc commented on #32
@VVIsaev any update on this - it seems to be a blocker for Cuper for using nightly testing manual / automated to test large changes to qemu such as decoder optim or delay slot rework. Please update your progress here.

[2021-06-16 19:30] vineetgarc opened #35 "arc64 QEMU: unexpected failures in glibc testsuite math tests"
When running glibc testsuite (to do apples-apples) with arcv2 I see **arc64 qemu** experiences some spurious (yet reproducible) test failure which are not seen on nSIM.

`arc64-softmmu/qemu-system-arc64 -cpu hs6x -nographic -no-reboot -monitor none -global cpu.freq_hz=5000000 -serial stdio -kernel vmlinux-210615-arc64-glibc-fb6b321a6c17-qemu-12-test-fail`

**QEMU** off arc64 branch @ 2021-06-11 4d

[2021-06-16 19:49] vineetgarc commented on #35
This will help address 6 failures from [arc64 glibc testsuite failures ](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/346)
FAIL: math/test-double-remquo
FAIL: math/test-float-remquo
FAIL: math/test-float32-remquo
FAIL: math/test-float32x-remquo
FAIL: math/test-float64-remquo
FAIL: math/test-ldouble-remquo

[2021-06-16 21:19] VVIsaev commented on #32
I've used arc64 glibc with arc64 qemu and I see that usermode gets stuck (shell is not responsive) in the middle of testsuite (no qemu crash here), looks like we go into infinity loop in kernel somehow.

But I wasn't able to debug it using qemu gdb, because gdb connection fixes this issue. I also wasn't able to build an image which can consistently reproduce the issue, so looks like qemu/kernel sh

[2021-06-16 22:30] cupertinomiranda commented on #34
This is happening when debugging this particular the test-float-csinh.
Problem occurs in csinhf part of libm.
Pasting this just to let you know of this weird scenario.
If you notice the instructions are being disassembled differently each time you GDB arrived to them.
BTW second way the instructions are being displayed is the correct one.

[code]

The MissI happens because of the bl.d needs to dec

[2021-06-16 22:31] cupertinomiranda commented on #34
BTW, break-pointing at this location (0x2005fffa) seems to make the problem disappear, so maybe this is really the route cause for the issue.

[2021-06-16 23:27] cupertinomiranda commented on #34
bclr is actualy a 4byte instruction and it passes the limits of the page. The MissI is correct.
@shahab-vahedi forget the previous request.

[2021-06-17 14:11] vineetgarc opened #36 "arc64 QEMU: unexpected failures in glibc testsuite locale test"
arc64 glibc testsuite currently has a lot of failures due to locale tests failing semi-randomly.
I have extracted a small locale test which fails reliably on **arc64 QEMU** (FWIW correspoding tests works fine **OK for ARCv2 builds on ARCv2 qemu**)

[code]
Exact same test runs cleanly to completion on nSIM

To reproduce:
`arc64-softmmu/qemu-system-arc64 -cpu hs6x -nographic -no-reboot -monitor none

[2021-06-17 20:45] vineetgarc commented on #34
FWIW I tried this on **cuper_delayslot_refurbish_wip2** branch 00da457bd9dd  (update of cuper_delayslot_refurbish with cherry-picked changes from arc64) and I see the same failures.

[2021-06-18 12:42] VVIsaev opened #37 "ARC64: crash while reading EFA using gdb"
versions: qemu arc64, 92a4efadd4; ARC64 elf toolchain build 655.

To reproduce you can use any binary:
[code]

Then connect gdb to qemu:
[code]

qemu crashed:
[code]

[2021-06-18 14:03] VVIsaev commented on #32
I think I found the reason of qemu stall.

Looks like we does not receive any interrupt since some point. I added following debug to qemu:
[code]
And it prints:
[code]

Looks like we are blocked on VIRTIO interrupt (35) inside IMMU exception because interrupts are disabled in qemu for this exception. And this is why I wasn't able to build image to reproduce it -- it can be reproduced only when we

[2021-06-18 14:30] VVIsaev opened #38 "ARC64: add bl_s instruction"
Latest vmlinux fails to start:
[code]
nsim boots fine. Disass of 0xa21a in [/lib/ld-2.32.so]:
[code]
Image: [vmlinux_arc64_glibc_verification_166.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6677588/vmlinux_arc64_glibc_verification_166.tar.gz)

[2021-06-18 17:35] vineetgarc commented on #32
Interrupts on ARC cores are auto-disabled on exceptions and after saving basic machine state we re-enable them by doing an early RTIE. Per above trace, when IRQ is taken, AEf is 0, meaning exception is no longer active so it looks fine. You need to check if the ISR gets stuck / doesn't return etc.

[2021-06-18 17:41] VVIsaev commented on #32
I meant that in qemu we have special internal flag (I think we don't have it in hw) which disables interrupts during IMMU exception processing, see:
https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/blob/92a4efadd46683fb22285daf907529fc5778580b/target/arc/irq.c#L533
https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/blob/92a4efadd46683fb22285daf907529fc5778580b/target/arc/tran

[2021-06-19 12:32] cupertinomiranda commented on #34
I guess that would be the same as cuper_arc64_delauslot_test branch.

[2021-06-19 12:37] cupertinomiranda commented on #34
I don't believe I created that branch (cuper_delayslot_refurbish_wip2). Please lets agree not to push any branch with someones name on it. :) Otherwise we all lose track of what is there.

[2021-06-19 18:00] vineetgarc commented on #34
No you didn't and the update above clearly says I created it because cuper_delayslot_refurbish_wip was lacking later commits needed to test it which you'd asked for.

[2021-06-21 03:32] vineetgarc opened #39 "[QEMU] Not taking ProtV exception where expected"
This is related to MMU48 Linux bringup - userspace is failing way too early on QEMU than nSIM.
I compared the Exception profile of QEMU MMUv4 and QEMU MMUv6 (same userspace) and see that very early on MMUv6 QEMU is not observing a ProtV which MMUv4 QEMU is.

MMUv4 traces:
[code]
Corresponding gdb breakpoints in MMUv4 for EV_TLBMissD and RV_TLBPRotV
[code]

However in MMUv6, ProtV breakpoint is not

[2021-06-21 03:32] #39 closed

[2021-06-22 09:16] claziss commented on #38
Fixed by commit:
https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/da2da3a2c4084705312c6d7d229aacc806fc0911

[2021-06-22 14:23] shahab-vahedi commented on #37
Commit [[arcv2/v3/gdbstub] Fix register orders again](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/caea3c1bd1) resolves this issue.

@VVIsaev Please close this issue if it works for you now.

[2021-06-22 16:00] VVIsaev commented on #37
EFA is fixed, but still for all regs we have crash:
[code]

[code]

[2021-06-22 16:05] shahab-vahedi commented on #37
Please bear with me. I will look into it.

[2021-06-22 16:19] VVIsaev opened #40 "ARCv2 sshd crashes with refurbished delay slot"
Tested cuper_arc64_delayslot_test, c13b9

sshd crashes on any connect attempt:
[code]
From the other console:
[code]

Image used: [vmlinux_arcv2_sshd_crash.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/6695891/vmlinux_arcv2_sshd_crash.tar.gz)

[2021-06-22 23:07] vineetgarc opened #41 "[ARCv2] Unexpected failure in glibc testsuite tst-error1"
[code]

Seen even on latest commit caea3c1bd11d.

[2021-06-23 00:29] vineetgarc commented on #41
Followed TLB Miss and ProtV events on QEMU and nSIM (58 of them) when the faltering QEMU exception happens.

[code]

The last ProtV is the one which gets reported but that in turn is caused by prior I-TLB Miss with ERET = 0x1_1FFE

[2021-06-23 00:31] vineetgarc commented on #41
[code]

So we have an ITLB miss due to jump, which has a delay slot on next page. Perfect corner case for QEMU which seems to be broken.

[2021-06-23 00:42] vineetgarc opened #42 "[QEMU] user-space instruction tracing / disassembly is not working"
when using -d in_asm, we get either b to self or disassembler warning over instruction decoding

For the following glibc code:
[code]

QEMU prints following
[code]

[2021-06-23 00:42] #42 closed

[2021-06-23 00:56] shahab-vahedi opened #43 "[GDB][QEMU] Exception related registers hold invalid values"
When an MMU exception occurs, the exception related registers are not reported correctly in GDB:

[code]

Check the attached file and consult its `README` to reproduce the problem.
[arc64-mmu.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/arc64/files/5350641/arc64-mmu.zip)

[2021-06-23 00:56] #43 closed

[2021-06-23 01:01] vineetgarc commented on #41
vmlinux to trigger !
[Uploading vmlinux-210615-arcv2-glibc-fb6b321a6c17-qemu-glibc-tests-falter-new.gz…]()

[2021-06-23 10:31] shahab-vahedi commented on #21
Commit [[arcv2/v3/gdbstub] Fix register orders again](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/caea3c1bd1) in branch [arc64] fixes this problem.

[2021-06-23 10:31] #21 closed

[2021-06-23 15:05] shahab-vahedi commented on #37
Commit [[arcv2/v3/gdbstub] Fix issue with "info reg" in gdb](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/41a150540d) in branch [arc64](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commits/arc64) should put an end to these shenanigans of failure.

@VVIsaev Once more, please close this issue if it works for you now.

[2021-06-23 15:36] VVIsaev commented on #38
Verified, it works now, thanks!

[2021-06-23 15:36] #38 closed

[2021-06-23 15:44] VVIsaev commented on #37
Works now. Thank you!)

[2021-06-23 15:44] #37 closed

[2021-06-23 17:20] vineetgarc commented on #41
If we break-point on 0x1_1FFE  the issue doesn't happen - it is correctly hit 2 times : first time with the delay slot instruction showing as unresolved and 2nd time with it in place.

[2021-06-23 17:49] vineetgarc commented on #41
And if I just add a break-point on the branch target 0x11258, the break-point is not hit which confirms that delay-slot processing is not working as expected.

[2021-06-23 19:09] vineetgarc commented on #41
So it seems we have a test-case for this (from past life, but can't run aTM on arc64) and apparently it all worked at some point. So I tried 7354d286383d (old shahb_vector branch, pre arc64 etc) and there qemu hits an assert when booting the kernel.

`./arc-softmmu/qemu-system-arc -M simhs -nographic -no-reboot -monitor none -serial stdio -cpu archs -kernel ~/arc/kernel/HS48-NOIDU/vmlinux-210615-a

[2021-06-23 19:50] claziss commented on #41
This is interesting, the asserts is checking if you don't have a limm in your delay slot. My 2c here, is that u jump to an uninitialized piece of memory which triggers the assert.

[2021-06-23 21:03] cupertinomiranda commented on #41
I don't seem to be able to download the image. Seems like a link to the same issue page.

[2021-06-24 00:12] vineetgarc commented on #41
Sorry ! Fixed in place.

[2021-06-24 02:48] vineetgarc commented on #41
So we were focusing solely on the delay-slot aspects, but it seems the issue happens earlier on a benign looking LD.A instruction.
It loads r3 which is used to do the subsequent jump. But that is not working as expected,

I did some debugging here and it seems the problem happens a bit before delay slot I-TLB Miss.

[code]

[2021-06-24 02:55] vineetgarc commented on #41
1. setup a break-point @ 11ff2, cont
2. break-point hit: info reg r3 14   : 0x15ea4, 0x15e98   <-- OK since LD.a not executed yet
3. setup a break-point on EV_TLBMissI, cont
4.  break-point hit: info reg r3 14   : 0x15ea4, 0x15e98  <-- NOK since LD.a executed but not reflected

[2021-06-24 15:07] IIIu30uD opened #44 "Error loding kernel image"
I am trying to load the image (https://github.com/foss-for-synopsys-dwc-arc-processors/buildroot/releases/tag/arc-2019.02-axs103-v1.3-rc2) and I get the error
$ qemu-system-arc -kernel vmlinux -cpu any -d unimp
No mapping for opcode for dbnz at pc=0x80bc8136
**
ERROR:../target/arc/translate.c:1344:arc_decode: assertion failed: (!"Semantic not found: Use -d unimp to list it.")
Bail out! ERROR:../ta

[2021-06-24 15:53] vineetgarc commented on #44
1. What's the exact QEMU branch/commit you used.
2. Your problem is QEMU for ARCv2 missing DBNZ instruction.
3. But anyways AXS is not supported as a platform in QEMU so the image will eventually fail.

[2021-06-24 16:03] cupertinomiranda commented on #41
![image](https://user-images.githubusercontent.com/10813002/123295835-00866c00-d50e-11eb-9dd1-425ea3acf56b.png)

Left side is bad, right side is good

[2021-06-24 17:10] VVIsaev commented on #40
`-singlestep` fixes this issue.

[2021-06-25 09:07] IIIu30uD commented on #44
master, commit 93c024bc39914092d38563242ab55144013ff480

[2021-06-25 09:53] abrodkin commented on #44
@IIIu30uD if you want to run Linux on QEMU for ARC please use `haps_hs_defconfig` from recent kernel versions.

[2021-06-28 18:20] cupertinomiranda commented on #41
Issue gets fixes in 074d077413033f23f918734c4912052af7b2f8a5.

[2021-06-28 18:20] cupertinomiranda commented on #34
Gets fixed in 074d077413033f23f918734c4912052af7b2f8a5.

[2021-06-28 18:47] cupertinomiranda commented on #40
Issue gets fixed with commit 0c4a79a7446e68417a1d28156f4ade20ef33caa5. Cherry-picked from arc64 branch.

[2021-06-29 08:46] VVIsaev commented on #40
Tested with branch cuper_arc64_delayslot_test., https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/0c4a79a7446e68417a1d28156f4ade20ef33caa5 , issue is still there (no singlestep option):

[code]

[2021-06-29 09:37] cupertinomiranda commented on #40
Issue is more random then initially anticipated.
I was able to get a problem without the patch that was not what @VVIsaev was reporting.

Abort is due to an assert in libnss:__nss_module_get_function.

[2021-06-30 20:14] shahab-vahedi commented on #8
1. Yes! adding conditions to breakpoints have that effect on breakpoints. Because they're soft emulated.
2. What about `brk[_s]`? Does that also work in nSIM? If yes, I'll implement it in QEMU.

[2021-07-01 15:46] cupertinomiranda commented on #26
The issue was not reproducible in my machine even at arc64@2021-04-23.

Only suggestion is for @shahab-vahedi to retry it and mark it as fixed if it is fixed in latest state.

[2021-07-01 16:10] #26 closed

[2021-07-01 18:29] cupertinomiranda commented on #35
Passes now. Closing.
![qemu_35_proff](https://user-images.githubusercontent.com/10813002/124173050-76587d80-daa2-11eb-8718-ffc81b9b1a6f.gif)

Fixed with: #f1997e52facc0a9c204e2185d5eb981baaec3953 and #074d077413033f23f918734c4912052af7b2f8a5

[2021-07-01 18:29] #35 closed

[2021-07-01 18:32] cupertinomiranda commented on #41
Fixed ... closing.

![qemu_41_proff](https://user-images.githubusercontent.com/10813002/124173478-fc74c400-daa2-11eb-91f3-3f1afc8762ac.gif)

[2021-07-01 18:32] #41 closed

[2021-07-01 18:36] cupertinomiranda commented on #28
![image](https://user-images.githubusercontent.com/10813002/124173874-8fadf980-daa3-11eb-81c2-5d7a6228bbce.png)

This is what I see in QEMU now. In NSIM it does not give any error I presume. Right ?

[2021-07-01 22:21] vineetgarc commented on #8
brk_s has host semantics: I think we need to implement 2 different semantics of flag 1 based on an additional toggle.

[2021-07-02 11:55] cupertinomiranda commented on #22
Closing, currently fixed. Video is long due to some external mount the image waits for.

![qemu_22_proof](https://user-images.githubusercontent.com/10813002/124270662-6ab59700-db34-11eb-9de5-86685e3b627d.gif)

[2021-07-02 11:55] #22 closed

[2021-07-02 11:59] cupertinomiranda commented on #34
Closing issue got fixed.
![qemu_34_proof](https://user-images.githubusercontent.com/10813002/124271338-41493b00-db35-11eb-90ac-8f7a0a4daae0.gif)

[2021-07-02 11:59] #34 closed

[2021-07-02 12:09] cupertinomiranda commented on #40
Issue does not seem to appear in latest state of arc64 branch.
The video was made using the image above.
@VVIsaev Can you please confirm it and close the issue.

![qemu_40_proof](https://user-images.githubusercontent.com/10813002/124272336-7ace7600-db36-11eb-8dc7-df31a1b720e4.gif)

[2021-07-02 12:18] cupertinomiranda commented on #40
Oups, this was suppose to be an issue other branch. We will come back to this when time comes.

[2021-07-02 12:30] cupertinomiranda commented on #14
Note: I think this bug is addressed as part of status register refurbish. Should be retried once those changes get merged in arc64 branch.

[2021-07-19 11:07] claziss commented on #27
`MAC`, `MACU`, `MACD`, and `MACDU` are present in `arc64` branch but I don't think these are tested.

[2021-07-21 06:58] wentongwu opened #45 "qemu arc(arc-softmmu) doesn't work on windows 10"
I can build well with the patch from https://github.com/zephyrproject-rtos/sdk-ng/blob/main/meta-zephyr-sdk/recipes-devtools/qemu/files/0010-Add-ARC-support.patch based on qemu 6.0(commit 609d7596524ab204ccd71ef42c9eee4c7c338ea4). The compiler is Mingw64 toolchain, but it can't run. The elf(Zephyr.elf) is the latest Zephyr hello world example. And I'm sure the other architecture can work(for examp

[2021-07-21 06:59] wentongwu commented on #45
@abrodkin

[2021-07-21 08:56] wentongwu commented on #45
I build this repository(https://github.com/foss-for-synopsys-dwc-arc-processors/qemu) with same environment, it build well with Mingw64 toolchain and run well(can run the same zephyr.elf) on windows, but this repository is based on qemu 5.2.50. Do we have plan to update the qemu to 6.0.0 for this project? Thanks a lot!

[2021-07-21 14:31] fbedard commented on #45
Note: @abrodkin is out of office at the moment so response may be delayed until next week.

[2021-07-21 14:57] cupertinomiranda commented on #45
Have just rebased master branch on top of v6.0.0 tag.
Please let me know if you can compile it now for Windows 10.

[2021-07-21 15:40] wentongwu commented on #45
@cupertinomiranda Thanks for the help. Tried the master branch. it works well on win10. Thanks

[2021-07-21 15:58] wentongwu commented on #45
@fbedard Thanks

[2021-07-21 17:16] cupertinomiranda commented on #45
Closing issue. Please reopen if something is not Ok. Thanks

[2021-07-21 17:16] #45 closed

[2021-07-21 17:17] cupertinomiranda commented on #44
@IIIu30uD Were you able to make it work ?

[2021-07-21 17:27] cupertinomiranda commented on #14
@abrodkin Can you revalidate this on arc64 branch. Those patches should be in there now.

[2021-07-22 12:59] VVIsaev commented on #32
This should be fixed after https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/768c950b9a6b8b32c78e9ef01235372d4c6d3c19 (enabled_interrupts flag is dropped).

[2021-07-22 12:59] #32 closed

[2021-07-25 16:18] abrodkin commented on #45
@wentongwu I'm wondering what was your use-case for MinGW-built QEMU?
Does this one-time hand-built QEMU satisfy all your current needs?

[2021-07-25 16:23] abrodkin commented on #14
@cupertinomiranda indeed, now I do see privilege violation exception generated:
[code]

[2021-07-25 16:23] #14 closed

[2021-07-26 02:04] wentongwu commented on #45
@abrodkin I'm just enabling QEMU on windows platform for Zephyr, and following https://wiki.qemu.org/Hosts/W32 to build QEMU with MinGW. And I think your guys are doing good job to enable ARC arch for QEMU, do you have plan to upstream these code to QEMU mainline?

[2021-07-26 09:54] cupertinomiranda commented on #45
@wentongwu Thanks
We have initiated the upstream process. However, as you might know, reviewing can take a while and not always we are able to quickly react to upstream requests.

[2021-08-06 13:08] shahab-vahedi commented on #40
For the record, I am able to use SSH service with the following configurations:

[code]

[2021-08-06 13:17] VVIsaev opened #48 "linux-user: c11-atomic-exec-4 dejagnu test fails"
This test works fine in system qemu.

Smaller version of this test:
[code]
How to build:
[code]

[2021-08-06 13:19] VVIsaev commented on #48
Looks like qemu-user runs second thread with second CPU instance on `pthread_create` and QEMU's llock/scond does not protect properly.

This is how addition is compiled (both functions have similar output):
[code]

[2021-08-13 16:39] falaleevms opened #51 "qemu build fails: ‘GiB’ undeclared (first use in this function)"
Building qemu fails, built from: https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/c408b2188d1836a02b40bf7acb270bdca54a0322

[code]

[2021-08-13 16:41] abrodkin commented on #51
Discussed here https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/pull/50, solved by https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/f8d1a952ed34c4f10e6063993d39365d2b983573.

[2021-08-13 17:09] falaleevms commented on #51
@abrodkin, I was trying with this fix, but still got the error.

[2021-08-17 10:41] shahab-vahedi opened #52 "qemu-arc: printing all registers causes qemu to abort"
To emphasize, this issue is related to user version of QEMU. When printing registers, QEMU asserts:

[code]

[2021-08-18 12:59] shahab-vahedi commented on #52
Commit [gdbstub: Fix crash on qemu-arc when "info regs" issued](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/eaa3a25a4a68d7b139145369b4b0a966fe63143c) resolves this.

[2021-08-18 12:59] #52 closed

[2021-09-08 01:58] wentongwu commented on #45
Hello all,

Now I changed the system(qemu arc) to 1800M sram to run Zephyr, with some thread stack to 100M, suppose it can work after reviewed qemu memory management code. But I saw some problem, is there any limitation?

Thanks

[2021-09-08 11:06] abrodkin commented on #45
@wentongwu if that's not related to Windows10 issue described previously I'd strongly suggest to report your new problem via a new issue here. And there in that new issue could you please explain in more details what is your problem and how that could be reproduced?

[2021-09-21 11:31] shahab-vahedi opened #55 "[INSN] QEMU cannot boot linux images because of vmac2hu"
### Description
QEMU cannot linux images that are built with current gcc, because of encountering a `vmac2hu` instruction. During the building process of kernel, the `mpy_option=9` is used. Till recently, QEMU was able to handle/translate instructions issued by GCC under the `mpy_option=9` option. However, GCC recently has added `vmac2hu` to the crowd.

### Environment
[code]

### Error
[code]

[2021-09-22 22:01] shahab-vahedi opened #56 "[ARCv2][INSN] "mpy_option" support status in QEMU"
Our vmlinux images by default are compiled by `mpy_option=9`. This gives GCC the freedom of emitting many mpy/vector instructions as it sees fit. At the time of writing, GCC on `dev` branch emits 2 instructions that are not yet supported by QEMU.

Below comes the full table. The goal must be to have all these instructions implemented.

[code]

One can easily regenerate this data using the attached

[2021-09-30 15:43] shahab-vahedi commented on #55
Fixed by:

1. [[INST] Add VMAC2H](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/cfecb4655bc7a14dd199d87dd9fc0994c9c0d75b)
2. [[INST] Add VMAC2HU](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/ec64d20e25c0dc948da4fe602378ec46003af558)
3. [[arcv2/inst] Update accu for VMAC2H(U) instructions](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/comm

[2021-09-30 15:43] #55 closed

[2021-10-07 08:50] VVIsaev opened #57 "Linux boot sometimes fails"
Sometimes Linux boot fails with both ARCv2 and ARCv3 with each time different symptoms, for example:
[code]
But it can be fail at any step of Linux boot from very early to userspace.

Please find kernel image and scripts to reproduce the issue attached:
[qemu-issue.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/7300496/qemu-issue.tar.gz)

I've written expect script to b

[2021-10-11 15:43] #51 closed

[2021-10-11 16:09] abrodkin commented on #18
Fixed with https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/pull/54

[2021-10-11 16:09] #18 closed

[2021-10-11 16:22] VVIsaev commented on #36
works in fd115f1 . So close.

[2021-10-11 16:22] #36 closed

[2021-10-11 16:22] VVIsaev commented on #40
Fixed finally! Thank you, @cupertinomiranda !

[2021-10-12 13:08] VVIsaev opened #58 "[TEST] Add exception in delay slot test to QEMU"
Here we have a test which was used to reproduce and fix a tricky issue: https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/issues/57#issuecomment-938820516

As is this test requires QEMU patch. Need to rework it to make sure that it can be executed without any patch and then push to QEMU.

[2021-10-12 13:09] VVIsaev commented on #57
No good/quick to implement ideas so far, filed an issue to add the test #58 .

[2021-10-19 09:12] shahab-vahedi opened #59 "[INSN] Implement DMACH(U) instructions"
Now GCC emits `dmachu` instructions which asserts in QEMU.

[2022-02-03 15:40] abrodkin opened #63 "[Zephyr/icount] Time-related failures seen in Zephyr tests with QEMU based on v6.2"
[code]

With the previous version on QEMU based on v6.0 (from Zephyr SDK, its sources could be found here: https://github.com/abrodkin/qemu/commits/zephyr-sdk-qemu-6) that problem is not happening.
Test binary is here: [zephyr.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/7995802/zephyr.zip)

QEMU sources are:
[code]

[2022-02-09 20:01] cupertinomiranda commented on #63
What is the reason for `-icount shift=6`. If I use `shift=5`, or even `shift=auto` the error is not there. Also if I do not use icount at all it will PASS as well.
Somehow with `-icount auto` it becomes very slow and appears to stop without being able to finish the test execution.

Considering that it will work with `shift=5` I do not think it is an actual problem of QEMU but a side effect of the

[2022-02-10 12:28] abrodkin commented on #63
We assume our QEMU boards use 10MHz clock (see https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arc/snps_qemu/Kconfig.defconfig#L12), which gives us a clock period of 100 nanoseconds.
The only way to let QEMU know about that is exactly the `shift` parameter for `-icount` option.

`-icount shift=6` means 1 clock cycle is 2^6 (64) nanoseconds long, which is much closer to 100 compared to 2

[2022-02-14 13:54] abrodkin opened #64 "[Zephyr/macOS] error: aliases are not supported on darwin"
As caught by @stephanosio in https://github.com/stephanosio/zephyr-sdk-hosttools-gha-test/runs/5174138650 (see https://discord.com/channels/720317445772017664/883404732423606303/942424870942289941) while building on macOS (Intel still) for macOS hosts:
[code]

It seems to be a fundamental limitation of either Clang, or Clang for Darwin or its particular version (see version info above) but we cann

[2022-02-15 06:47] abrodkin commented on #63
With reverted `icount` changes in `target/arc/timer.c` results now look almost perfect:
[code]

Of those 2 failing tests:
* `tests/kernel/timer/timer_monotonic` seems to not handle counter overflow properly. The test is written in assumption`k_cycle_get_32()` returns an ever monotonously increasing value all the time. Not sure how correct is that assumption.
* `tests/kernel/mem_protect/syscalls` t

[2022-02-15 08:44] ruuddw commented on #63
Looks to me that qemu_clock_get_ns(QEMU_CLOCK_VIRTUAL) internally uses icount + some more intelligence to avoid issues when using icount directly, probably due to instruction/block scheduling?
What would be the benefit of using icount_get() directly?

[2022-02-15 12:55] #63 closed

[2022-03-11 16:08] abrodkin opened #66 "[Zephyr] kernel/timer/timer_monotonic fails on 6.2-based QEMU"
[code]

Here's the test source: https://github.com/zephyrproject-rtos/zephyr/tree/main/tests/kernel/timer/timer_monotonic

[2022-03-11 18:50] cupertinomiranda commented on #66
I cannot reproduce or debug this issue without a qemu command that executes this and a binary.
In this terms the issue should be in zephyr repo and not here.

[2022-03-11 18:52] cupertinomiranda commented on #64
Issue was fixed in da1412b01329a96705fbff556cd9cd86cbc27ac1.

[2022-03-11 18:52] #64 closed

[2022-03-11 19:50] abrodkin commented on #66
`qemu-system-arc -cpu arcem -m 8M -nographic -no-reboot -monitor none -global cpu.firq=false -global cpu.num-irqlevels=15 -global cpu.num-irq=25 -global cpu.ext-irq=20 -global cpu.freq_hz=10000000 -global cpu.timer0=true -global cpu.timer1=true -global cpu.has-mpu=true -global cpu.mpu-numreg=16 -net none -pidfile qemu.pid -chardev stdio,id=con,mux=on -serial chardev:con -mon chardev=con,mode=readl

[2022-03-14 22:54] cupertinomiranda commented on #66
Test passes with new fix in commit 2625a6fbc3f60233e1d340931d00242d82230091.

[2022-03-17 09:17] abrodkin commented on #66
Indeed, results now are all clear:
[code]

Failed on `qemu_arc_em` test shows:
[code]
But that needs to be looked at separately.

[2022-03-17 09:30] abrodkin opened #67 "[zephyr, icount] Enabled icount triggers "tests/kernel/mem_protect/syscalls" failure on qemu_arc_em"
[zephyr-issue-66.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/8283403/zephyr-issue-66.zip)

Initially found on validation of https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/issues/66.

This works normally (note, no `-icount`):
[code]

This fails (note added `-icount shift=6,align=off,sleep=off`):
[code]

[2022-03-17 10:26] evgeniy-paltsev commented on #67
@abrodkin may I ask you to add Zephyr test name when you are reporting issues found with Zephyr tests?

Thanks!

[2022-03-17 10:34] abrodkin commented on #67
It's https://github.com/zephyrproject-rtos/zephyr/tree/main/tests/kernel/mem_protect/syscalls:
[code]

[2022-03-17 10:36] cupertinomiranda commented on #67
In the second execution `brk` instruction is executed, and it is not implemented.
[code]

For further issues like this, please use `GDB` as demonstrated in the video:
![QEMU_find_unimplemented_insn](https://user-images.githubusercontent.com/10813002/158791212-1f3fbcba-d36e-42a8-b95c-aebac755d6d8.gif)

[2022-03-17 10:51] cupertinomiranda commented on #67
Implemented `brk` in commit 744f782f2e89d3a383e8d17bbf89be68b3e17bbe

[2022-03-17 10:52] cupertinomiranda commented on #67
Please close it if the issue is unrelated to QEMU.

[code]

[2022-03-17 10:54] cupertinomiranda commented on #67
Please do not use QEMU issues to report issues on Zephyr at all.

[2022-03-18 13:07] evgeniy-paltsev commented on #67
Hi @cupertinomiranda,

I am wondering if it is possible to print the unimplemented instruction in addition to:
[code]
? That would be more user-frendly.

[2022-03-18 13:58] cupertinomiranda commented on #67
That used to be doing just that, but someone actually removed that code since default behavior is to trigger an invalid instruction exception.
If you want to see the instruction name you should use `-d unimp`.

[2022-03-18 14:03] evgeniy-paltsev commented on #67
BTW, about the failing test:
I've checked the test sources - there is nothing timing critical / timing related in this test. So I expect it to work fine with both enabled and disabled icount. Given that we have same Zephyr binary working without icount and not working with icount enabled  - that may be ARC qemu issue.

[2022-04-04 10:16] shahab-vahedi commented on #66
it seems this change is inflicting a problem on my linux images. it might be actually that it is revealing a issue in our Linux Kernel. That's why I filed one [there](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/issues/83).

[2022-04-09 09:54] linhdong24 opened #68 "how to load and run hex file in qemu_system_arc"
Hello,

I am trying to load and run hex file in qemu arc but look like it only support to load *.elf format.
Does anyone know how to modify qemu_system_arc to support *.hex or *.bin format?
Thanks.

[2022-04-11 13:08] linhdong24 commented on #68
Found the solution.
Thanks !

[2022-04-11 17:02] abrodkin commented on #68
@linhdong24 I was planning to answer you, though without any immediate solution other than proposal to really use an Elf (as other options would require patching the QEMU).

Could you please, as a courtesy for other users, share the solution that solved your problem?

[2022-04-12 03:44] linhdong24 commented on #68
Hi @abrodkin,

This is my modification in qemu (hw/arc/boot.c -> arc_load_kernel)  to load *.hex format
[code]

I am not sure this is correct way to fix this issue or not.
Thanks.

[2022-04-12 08:03] abrodkin commented on #68
Thanks for the info. We'll try to consider adding that functionality in our code at some point so that such simple things work out of the box. Thanks for sharing both your problem and the solution to it.

[2022-04-16 11:29] stephanosio commented on #66
For some reason, this exact issue is still seen with the Zephyr SDK 0.14.1, which includes 2625a6fbc3f60233e1d340931d00242d82230091, although it is seen only in the AWS CI machine and not locally reproducible.

[2022-04-21 09:20] cupertinomiranda commented on #66
After further analysis of this issue with Claudiu, we got to the conclusion that my patch on QEMU is not Ok.
According through PRM there it is not guaranteed that an interrupt is immediately served after the timer interrupt is raised.
On the other hand this time interval is flagged by IP in CONTROL0, being that the reasoning behind IP flag.

Zephyr itself when reading the COUNT0 should be verifyin

[2022-04-21 11:46] ruuddw commented on #66
The ARC timer driver checks and handles the IP flag, in the '[elapsed](https://github.com/zephyrproject-rtos/zephyr/blob/1dcea253d2e2b2da1418bd037b15320b89a0c8b6/drivers/timer/arcv2_timer0.c#L180)()' function. Can you elaborate what's not correct in the Zephyr driver?

[2022-04-21 13:51] cupertinomiranda commented on #66
The refered test fails in the following:
[code]
Using QEMU, this test fails since the interrupt for the timer is not immediately handled, but rather only executed in the end of the TLB (i.e. a control-flow block).
In my initial assessment I though that would be a QEMU problem since the interrupt would not be immediately served, but thinking it through no architecture can guarantee that behavior.
L

[2022-04-25 10:09] ruuddw commented on #66
Zephyr 'elapsed' handles the wrapping/pending IP already, no need to add that to the count_register_get.
Are you sure the IP and count register updates are atomic in QEMU?
Also, the 'fix' in 2625a6f modifies the count value when IP is pending, that doesn't seem right to me. Certainly not in combination with software handlers that also handle the IP overflow in software: it now gets adjusted two ti

[2022-04-27 14:43] cupertinomiranda commented on #66
With commit 7772126, which is a subset of the previous reverted 2625a6f, the test now passes. Closing the issue.

[2022-04-27 14:43] #66 closed

[2022-05-12 02:41] linhdong24 opened #71 "Change default starting address of flash memory for QEMU ARC"
By default, the starting address of flash memory in qemu_arc.dtsi is 0x80000000 (`https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arc/qemu_arc/qemu_arc.dtsi`)
Try hello-world, it can work well: `west build -p auto -b qemu_arc_em zephyr/samples/hello_world -t run`
But if we change address from  0x80000000 to 0x40000000 as below
[code]
then it will cause the issue, can't boot.
May I kn

[2022-05-13 02:40] linhdong24 commented on #71
@abrodkin Many thanks for your quick response !
I tried your solution, it really can work well with sram address **0x40400000**  .
However, we need to config sram address at **0x20F00000**, if I change sram to this address then it will cause crash.

[code]

[code]
May I have your advice in this case?
Thanks !

[2022-05-13 09:14] abrodkin commented on #71
@linhdong24 I would suggest you to implement your own platform/board in QEMU which has all that you need and nothing extra. So please use our "virt" platform as a base and then add a separate memory region for SRAM.

[2022-05-13 14:59] abrodkin commented on #67
Works for me with https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/releases/tag/arc-master-2022.04.26:
[code]

[2022-05-13 14:59] #67 closed

[2022-05-17 01:04] linhdong24 commented on #71
@abrodkin thank a lot for your suggestion. I will try it.

[2022-05-17 08:19] abrodkin commented on #71
@linhdong24 sure, please try and let mw know how it goes. Bu for now I guess we may close this issue, right?

[2022-05-17 08:25] linhdong24 commented on #71
Yes, I would like to close this issue and will update on the result once I can fix it by this solution.
Thanks for your strong support.

[2022-05-17 08:25] #71 closed

[2022-05-22 17:07] valeriyk opened #72 "post-install "make check" doesn't do anything"
[This page](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/wiki/Building-QEMU-for-ARC) says to run a test suit after installing QEMU. But ```make check``` doesn't really do anything:
[code]

Tried this both on master and on arc-master-2022.04.26 with the same result.

[2022-05-24 02:38] linhdong24 commented on #71
@abrodkin Just to update on the result, after I changed QEMU virt.c as below then it can work well.
[code]
Thanks a lot for your suggestion.

[2022-05-24 11:54] abrodkin commented on #71
@linhdong24 thanks for the update. Though I would still recommend you to create your own platform which will only have needed components. For example I assume you don't need the PCI bridge and networking interface :)
If of any interest you may even submit your new platform to our port here via a pull-request so that it is kept in a the same source tree as ARC port and eventually gets upstream.
Mor

[2022-06-01 18:07] #72 closed

[2022-06-01 18:41] abrodkin commented on #72
I guess it worth updating https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/wiki/Building-QEMU-for-ARC so it matches real state of things.

[2022-07-08 14:24] kokas-a opened #77 "Wrong behavior of LD_S.AS instruction"
Hi

While debugging Zephyr on QEMU I faced with the following problem. "ld_s.as" instruction works incorrect in QEMU for ARCv2 HS.

Instruction description is:
[code]

While it contains no ZZ suffix, scaling shift is 2.
Qemu ignores scaling_shift for "c" operand and generates wrong address. Finally "a" operand gets wrong value.

Ref more details in start.s  in attached example.

QEMU was run with

[2022-07-08 15:56] cupertinomiranda commented on #77
Hi,

Thanks for reporting this problem.
Issue was fixed in master branch.

You can find the patch in ba5babdedcd766af727aa087c2b04491fd78debd.
Let me know if it fixes it, in your side.

[2022-07-10 12:49] evgeniy-paltsev commented on #77
@abrodkin note that we need this fix in upcoming zephyr SDK release.

[2022-07-11 08:00] cupertinomiranda commented on #77
@evgeniy-paltsev Again do not use this issue page for Zephyr. Do it in proper page.Moreover the issue was fixed and only needs to be verified by @kokas-a

[2022-07-11 13:34] abrodkin commented on #77
@evgeniy-paltsev could you please create an issue in the Zephyr's GitHub for tracking. Then it will be much easier to make sure it gets in the SDK.

[2022-07-15 20:47] evgeniy-paltsev opened #78 "qemu build fails, when building from current master (ba5babded: Fixed decoder for ld_s.as instruction)"
When trying to build QEMU from current master (commit ba5babded: Fixed decoder for ld_s.as instruction) I get following build error:

[code]

The host system is 20.04.1-Ubuntu.

[code]

Full build / configure log attached: [build.log](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/9123954/build.log)

[2022-07-15 22:29] cupertinomiranda commented on #78
Master is broken, until I get a proper Linux image with low address range for ARC64. Otherwise I will not be working in fixing QEMU for ECO6.
If you build it for arcv2 only there is no error.

Currently there is no point in building qemu for ARC64 since it is outdated with the current state of the toolchain.
If you want to use QEMU you will need to use the backup from pre-ECO6 and build the pre-EC

[2022-07-15 22:42] cupertinomiranda commented on #77
Tested this myself and worked. Closing the issue.

[2022-07-16 12:25] evgeniy-paltsev commented on #78
What is the point of closing the ticket which represent existing known issue which we are sill had to fix sometime?

Let's keep this open so other developers who bump into this can see that it is known issue.

[2022-07-19 14:53] shahab-vahedi commented on #78
For what it's worth, using the `master_bak_before_ECO6` branch with head `86aa47d5b2e -- Fixed issue with sleep when not using any operand.` solved my problem:

[code]

[2022-07-29 14:10] kokas-a opened #79 ""sbc.f" set "STATUS32.C" bit with wrong value"
Hi,

I worked with Zephyr OS on QEMU and found that "sbc.f" set "STATUS32.C" bit with wrong value. As a result the next branch instruction works incorrect. Target platform is QEMU ARCv2 HS, Toolchain is "arcmwdt".

The example code (it is a part of  _divide_normbs() routine in ARC MWDT runtime library) is presented below:

[code]

The code was build with the following command:
`ccac -Hnocrt -Hnocr

[2022-08-01 14:01] cupertinomiranda commented on #79
Hi Nikolay,

Can you please post the binaries of the example.

Regards,
Cupertino

[2022-08-01 14:02] cupertinomiranda commented on #79
BTW, a fix for this issue should be:

[code]

[2022-08-01 14:10] kokas-a commented on #79
[binary_file.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/9234531/binary_file.zip)

Hi Cupertino,
Binary file is in the attachment

Regards,
Nikolay

[2022-08-01 15:51] cupertinomiranda commented on #79
Hi Nikolay,

From my experiments, I guess the patch provided fixes the problem.
Can you please locally apply the patch and let me know if it fixes it for you.

Regards,
Cupertino

[2022-08-02 08:04] kokas-a commented on #79
Hi Cupertino,

I have applied patch and it seems to work for me. One of Zephyr's tests (that previously was failed) is now passed.
I was a little bit confused with this patch:  you make changes for "arc_gen_SBC" but modify comments for "arc_gen_ADC" routine.  Could you please check this part?

Regards,
Nikolay

[2022-08-02 08:23] cupertinomiranda commented on #79
That was a mistake. Thanks for noticing.
Will push the fix to master branch.

[2022-08-02 08:27] cupertinomiranda commented on #79
BTW, patch is correct. It only looks like I changed ADC comment but that is not the case.

[2022-08-08 14:19] evgeniy-paltsev commented on #78
Now the issue is fixed, I can build ARC64 qemu from recent master (tested on 00501e633e2ab4e98d8f15b1a4cc70408c80190e)

[2022-08-08 14:19] #78 closed

[2022-08-17 13:00] #79 closed

[2022-09-27 13:22] cardososys opened #80 "ARC64: fix MAC, MACU, MACD and MACDU instructions"
On ARC64, MAC, MACU, MACD, and MACDU instructions, were implemented using the same logic as the ARC32, but the logic is different:
- The ACC in ARC32 (r59:r58) is not the same as ARC64 (r58);
- The dest register on ARC32 is equal to result.w0 in ARC32, but in ARC64 the dest register is zero-extended from result.w0.

[2022-09-27 16:27] evgeniy-paltsev commented on #80
Hi @cardososys,

May I ask you to specify more clearly that it's a bug (by mentioning it in description or / and using `bug` label). It wasn't obvious from the first briefly check if it is a bug / enhancement / just some note.

Thanks!

PS: I guess there is an typo and you mean r59 / r58 and not r9 /r8.

[2022-09-28 09:01] claziss commented on #56
@cardososys please update the table with the new supported instructions.

[2022-09-28 09:19] claziss commented on #27
Kind of duplicate of issue #56

[2022-09-29 16:38] BrunoASMauricio opened #81 "FFS implementation working like FFSL"
From several tests it is infered that the FFS implementation, which should only work on the lower 32 bits of a register, is analyzing all 64 bits of the register, effectively behaving as FFSL.

[2022-09-29 16:44] cupertinomiranda commented on #81
Commit 1941a3b20d3e7f29e198c74767b103e0c3513880 addresses this issue.
Please verify and close the issue if the problem disappears.

[2022-09-29 16:47] BrunoASMauricio commented on #81
Issue fixed

[2022-09-29 16:47] #81 closed

[2022-10-07 15:16] evgeniy-paltsev commented on #77
Unfortunately the fix was reverted by next commit (https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/b240546d62df58bc5a2f445784d423cf12bb2fb2) - so now issue present again.

Not fully sure if that is done intentionally or it's an issue with the commit.

[2022-10-14 07:42] claziss commented on #77
Fixed by pull request #82

[2022-10-14 07:42] #77 closed

[2022-10-19 13:33] xxkent opened #86 "ARC64 HS6x Different behavior between nSIM and QEMU."
Hi all,
I encountered with an issue running HS6x UP Linux on QEMU. This issue happens approximately in a place where mapping code/data into page tables happens. I suppose that something is absent for an MMU support for HS6x.

[QEMU MMU issue.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/9820880/QEMU.MMU.issue.zip)

**How to run on QEMU:**
./qemu-hs6x.sh ~/path/to/loader

[2022-10-20 10:56] cupertinomiranda commented on #86
Hi @xxkent,

What gave you the feeling that this was a MMU issue?
This is no way to report an issue on QEMU.
Which toolchain did you used ... pre ECO6. I can see you built it with buildroot and that makes it very likely.
I definitely booted Linux on latest QEMU.
[loader.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/9828824/loader.zip)

Do you know which instruction ends e

[2022-10-20 13:52] xxkent commented on #86
Hi @cupertinomiranda,

Thanks for your detailed comment. I will try to find the reason of this from the kernel side.
I used GCC 12.1.1 with ECO6 (You can always check this in the first message Linux prints).
I also checked this on the latest nSIM "nSIM, Version: 2022.09 (Build: 005)".

Thanks

[2022-10-20 17:10] claziss commented on #86
@xxkent please add gcc version used (maybe commit id?), glibc version, linux kernel used. How you did build the linux image etc. Whatever helps us to reproduce/debug your issue.

[2022-10-21 13:51] xxkent commented on #86
I have created a **test** patch for the kernel which extends kernel address space from 1G to 1.28G for ARC64 HS6x. For this purpose I added second PMD table. Now two PMD tables map 2 Gb address space(1 PMD per 1Gb space). Then I checked it running on nSIM and looks like it works on nSIM, but I am not sure what everything is correct in this patch. That is why I decided to run it on QEMU and then en

[2022-10-23 10:33] xxkent commented on #86
Hi Cupertino, Claudiu,

I checked that this kernel works on HAPS on a bitfile with 2Gb DDR.

[2022-10-25 11:59] luiss-synopsys opened #88 "Testing hs gcc linux full system fails"
Im having a issue when testing the hs gcc linux on full system. This problem doesn't happen every time. Yesterday with the same configuration i managed to execute the tests, but later on i was not able to. The issue is the following:

**qemu-system-arc: ../../sources/qemu/target/arc/translate.c:378: arc_map_opcode: Assertion `"This should not happen" == 0' failed.**

To build the toolchain i used

[2022-10-25 15:40] pavelvkozlov commented on #88
Hi @luiss-synopsys,

I also faced this issue when I configured toolchain without the option```--with-cpu=archs```.

[2022-10-25 17:43] cupertinomiranda commented on #88
This is no QEMU issue.
So far, QEMU does not implement hs38 instructions, which is the default cpu on hs toolchain.

If there is something to be done from QEMU on this front is to better verify elf headers to properly bail out.

@luiss-synopsys I already mentioned that the problem here is the `ARC_MULTILIB_OPTIONS='cpu=archs'` which is not properly setting multilib to compile with archs cpu. If I

[2022-10-27 18:06] evgeniy-paltsev commented on #80
In the ARCv3 QEMU MPY9 instructions status page I can find (https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/issues/27) all these instructions (MAC, MACU, MACD and MACDU) are marked as supported.

So it seems to be the bud and not enhancement.

[2022-10-27 19:14] claziss commented on #80
@cardososys please check if this issue is still valid and close it if not.

[2022-10-27 21:39] cupertinomiranda commented on #80
@evgeniy-paltsev I fail to see where is the typo you mention.
Also I believe the issue was created as a place older for the task to be done.
If there is a bug here, is that the issue was not closed.
If you would be looking at the code instead of managing the issue page you would have found this commit a78ef076356881aa4ca046d2c2817921be710c51 and all had been answer.

I am closing the issue for @ca

[2022-10-27 21:39] #80 closed

[2022-10-31 08:32] claziss opened #89 "64bit Integer SIMD instructions are duplicating the LIMM field"
The 64bit integer vector operations are duplicating the LIMM field similarly like the short immediate fields (u6 and s12). The next instructions are affected:

- [x] QMPYH
- [x] QMPYHU
- [x] QMACH
- [x] QMACHU
- [x] VADD4H
- [x] VSUB4H
- [x] VADDSUB4H
- [x] VSUBADD4H
- [x] VADD2
- [x] VSUB2
- [x] VADDSUB
- [x] VSUBADD
- [x] VPACK4HL
- [x] VPACK4HM
- [x] VPACK2WL
- [x] VPACK2HM

[2022-11-04 10:25] claziss opened #90 "ARCv2 Linux user mode: GDB related error when no cpu is used"
The next command using QEMU ARCv2 user mode is throwing an error when `cpu` option is omitted:
[code]

The error is:
[code]

The same command line works with `cpu` option added:
[code]
Test file:
[test-call.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/files/9937280/test-call.zip)

[2022-11-08 12:55] shahab-vahedi commented on #86
@claziss has discovered very interesting findings. He narrowed down the failure to this line of code:

[code]

This raises an MMU exception during the "write". The is not the case for nSIM. It is worth mentioning that the earlier executions of this piece of code in QEMU goes fine as well.

This is QEMU's tracing output:

[code]

nSIM's tracing on the other hand looks like:

[code]

In summary this

[2022-11-14 12:56] xxkent commented on #86
Thanks for your detailed investigation. You right, there is an issue in Linux kernel. When we change RTP1 register on the stage Linux boots, we don’t invalidate old TLB entries. After this nSIM and RTL/HAPS continue work using cached VA to PA translations, in particular for UART peripheral. As far as QEMU don’t simulate TLB, it encountered with NULL entry in the new table for VA to PA translation

[2022-11-14 12:56] #86 closed

[2022-11-30 14:45] BrunoASMauricio opened #100 "OverflowAdd bug"
The current helper code for overflowAdd seems to be expected to work independently of the actual size of the registers in question, by receiving a "size" parameter.
However, the calculation of the overflow is done as follows:

[code]
This will only work if after the shift, there is nothing to the left of the bit originally at the 'size'th place. This does not hold true when we are dealing with 32